
.projects {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content:center;
    overflow: hidden;
    height:100vh;
    margin-left:250px;
    margin-top:50px;

    color:var(--offWhite);
}

/* BLOB BACKGROUND STUFF */

.blobWrapper {
    margin-left:250px;
    background:#250821;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    
}

.blob {
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    top:-50px;
    width:80vw;
    
}

.blob:nth-child(2) {
    filter:blur(50px);
}